* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Roboto';
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*----Header----*/
header {
  background-image: url('../images/snowy-trees-copy.jpg');
  height: 100vh;
}

.fa-chevron-down {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.7);
  animation: jump 4s infinite;
}

.arrow-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 40vh;
}

.title-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

@keyframes jump {
  0%, 50%, 100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-1rem);
  }
  70% {
    transform: translateY(-2rem);
  }
}

header h1, a {
  color: white;
}


h1 {
  font-size: 6rem;
  font-family: 'Roboto';
}

#name {
  opacity: 1;
}


.color-layer {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(242, 0, 137, 0.95), rgba(229, 0, 164, 0.7));
  /*-webkit-backdrop-filter: blur(5px);*/
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.navigation li {
  font-size: 2rem;
  margin: 2rem 3rem;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/*----Projects----*/
.project {
  height: 50vh;
  width: 50vw;
  background-image: url('../images/snowy-trees-copy.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

  /*#arrow {
    position: relative;
    top: 0;
  }
  #arrow:hover {
    top: -10px;
  }*/

.project-description {
  transition: height 1s;
  height: 20%;
  width: 100%;
  background-image: linear-gradient(rgba(219, 0, 182, 0.95), rgba(188, 0, 221, 0.7));
  z-index: 1;
}


.project-description h2 {
  font-size: 2rem;
  color: white;
}

.project-description p {
  transition: color 0.5s ease-out 0;
  transition-delay: 0.5s;
  color: rgba(255, 255, 255, 0);
  margin-top: 4rem;

}

.project:hover .project-description p {
      color: rgba(255, 255, 255, 1);
}

.project:hover .project-description {
      height: 100%;
}

#projects {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#projects img {
  height: 50vh;
  width: 50vw;
}
