* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Roboto';
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/*----Header----*/
.hidden-nav {
  display: none;
}
.show-nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.show-nav li {
  padding: 0 10rem;
}

.show-nav {
  width: 100%;
  height: 10vh;
  background-image: linear-gradient(rgba(242, 0, 137, 1), rgba(229, 0, 164, 0.9));
  position: fixed;
  top: 0;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 3;
  font-size: 2rem;
}

header {
  background-image: url('../images/snowy-trees-copy.jpg');
  height: 100vh;
}

.arrow-container .fa-chevron-down {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.7);
  animation: jump 4s infinite;
}

.arrow-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 40vh;
}

.title-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

@keyframes jump {
  0%, 50%, 100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-1rem);
  }
  70% {
    transform: translateY(-2rem);
  }
}

header h1, a {
  color: white;
}


h1 {
  font-size: 6rem;
  font-family: 'Roboto';
}

#name {
  opacity: 1;
}


.color-layer {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(242, 0, 137, 0.95), rgba(229, 0, 164, 0.7));
  /*-webkit-backdrop-filter: blur(5px);*/
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.navigation li {
  font-size: 2rem;
  margin: 2rem 3rem;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/*----Projects----*/


.project-slide1 {
}

.project-slide1 img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-description {
  transition: height 1s;
  height: 20%;
  width: 100%;
  background-image: linear-gradient(rgba(219, 0, 182, 0.95), rgba(188, 0, 221, 0.7));
  z-index: 1;
  display: none;
}


.project-description h2 {
  font-size: 2rem;
  color: white;
}

.project-description p {
  transition: color 0.5s ease-out 0;
  transition-delay: 0.5s;
  color: rgba(255, 255, 255, 0);
  margin-top: 4rem;

}

.project-slide:hover .project-description p {
      color: rgba(255, 255, 255, 1);
}

.project-slide:hover .project-description {
      height: 100%;
}

.next, .previous {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  height: 80%;
  width: 15vw;
  font-size: 3rem;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.next:hover, .previous:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.next:hover a, .previous:hover a{
  color: rgba(255, 255, 255, 0.8);
}

.previous {
  left: 0;
  border-radius: 0 2vw 2vw 0;
}

.next {
  right: 0;
  border-radius: 2vw 0 0 2vw;
  justify-content: flex-end;
}

.next .fa-chevron-down {
  transform: rotate(-90deg);
  margin: 2rem;
  color: rgba(255, 255, 255, 0.5);
}

.previous .fa-chevron-down {
  transform: rotate(90deg);
  margin: 2rem;
  color: rgba(255, 255, 255, 0.5);
}

#projects {
  height: 90vh;
  width: 100vw;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.project-left {
  display: flex;
  flex-shrink: 0;
  height: 80%;
  width: 15vw;
  overflow: hidden;
  order: 1;
  border-radius: 0 2vw 2vw 0;
}

.project-left img {
  max-width: initial;
  object-position: right;
  width: 100%;
}

.project-center {
  display: flex;
  flex-shrink: 0;
  height: 80%;
  width: 60vw;
  margin: 0 5vw;
  order: 2;
}

.project-center img {
  max-width: initial;
  border-radius: 2vw;
  width: 100%;
}

.project-right {
  display: flex;
  flex-shrink: 0;
  height: 80%;
  width: 15vw;
  overflow: hidden;
  order: 3;
  border-radius: 2vw 0 0 2vw;
}

.project-right img {
  max-width: initial;
  width: 100%;
  object-position: 0;
}
